.header--hiding {
    position: fixed !important;
    z-index: 6;
    width: 100%;
}
.header--hiding.header__transform-mode {
    translate: 0 var(--header-hiding-translate);
}
.header--hiding.header__position-mode {
    top: var(--header-hiding-translate);
}
